<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title%}E-Commerce{%endblock%}</title>

  <style rel="stylesheet">
    .container {
      max-width: 900px;
      margin: 0 auto;
      padding: 0 20px;
    }
  </style>

  <script src="https://cdn.tailwindcss.com"></script>
  {% comment %} <link href="{% static 'css/tailwind.css' %}" rel="stylesheet" /> {% endcomment %}
</head>
<body class="bg-gray-100">
  <nav class="bg-white shadow p-4 w-full">
    <div class="container flex justify-between">
      <a href="{% url 'shop:product_list' %}" class="font-bold text-xl">E-Commerce</a>
      <div>
        {% if user.is_authenticated %}
          <span class="mr-4">Hello, {{ user.username }}</span>

          <a href="{% url 'shop:cart' %}" class="text-indigo-600 mr-4">Cart</a>
          {% comment %} <a href="{% url 'shop:profile' %}" class="text-indigo-600 mr-4">Profile</a> {% endcomment %}
          <form method="post" action="{% url 'shop:logout' %}" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="text-red-600 bg-transparent border-none cursor-pointer">Logout</button>
          </form>
        {% else %}
          <a href="{% url 'shop:login' %}" class="bg-indigo-600 outline-none font-bold px-[1rem] py-[12px] rounded-md hover:bg-indigo-700 cursor-pointer  text-white">Login</a>
          <a href="{% url 'shop:register' %}" class="bg-transparent font-bold px-[1rem] py-[12px] rounded-md cursor-pointer  text-indigo-600 border-[1px] outline-none border-indigo-600 ">Register</a>
        {% endif %}
      </div>
    </div>
  </nav>
  <main class="container">
    {% block content %}{% endblock %}
  </main>
</body>
</html>




{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>

</head>
<body>
    {% block content %}
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'shop:home' %}">Home</a></li>
                <li><a href="{% url 'shop:login' %}">Login</a></li>
                <li><a href="{% url 'shop:signup' %}">Sign Up</a></li>
            </ul>
        </nav>
    {% endblock %}

    <footer>
        <p>&copy; 2023 Shop. All rights reserved.</p>
    </footer>   
    
</body>
</html> {% endcomment %}