<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title%}E-Commerce{%endblock%}</title>

  <style rel="stylesheet">
    .container {
      max-width: 900px;
      margin: 0 auto;
      padding: 0 2rem;
    }
  </style>

  <script src="https://cdn.tailwindcss.com"></script>
  {% comment %} <link href="{% static 'css/tailwind.css' %}" rel="stylesheet" /> {% endcomment %}
</head>
<body class="bg-gray-50">
  <nav class="bg-white py-4 w-full border-b-[1px]">
    <div class="container flex justify-between gap-8">

      <div class="w-full">
        <a href="{% url 'shop:product_list' %}" class="font-semibold text-2xl">me<span class="text-[#FF9900] font-bold">SHOP</span>ing</a>
      </div>

      <form class="inline w-full">
        {% csrf_token %}
        <input type="text" placeholder="Search product..." class="px-4 py-1 border-[1px] outline-none w-full placeholder:text-gray-300 rounded"/>
      </form>

      <div class="flex flex-row gap-4 items-center w-full justify-end">
        {% if user.is_authenticated %}
          <span class="mr-4 text-gray-400">Hello, <strong class="text-black">{{ user.username }}</strong></span>

          <a href="{% url 'shop:cart' %}" class="flex flex-row gap-1 items-center mr-4">
            <p class="text-[#FF9900] font-bold text-[14px]">0</p>
            <img src={% static "shop/images/empty_cart.png" %} class="h-6 w-6"/>
          </a>

          {% comment %} <a href="{% url 'shop:profile' %}" class="text-indigo-600 mr-4">Profile</a> {% endcomment %}
          <form method="post" action="{% url 'shop:logout' %}" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="text-[#FF9900] border-[#FF9900] border-[1px] bg-transparent outline-none px-2 py-1 text-[14px] font-bold rounded cursor-pointer">Logout</button>
          </form>
        {% else %}
          <a href="{% url 'shop:login' %}" class="bg-[#FF9900] outline-none font-bold px-[1rem] py-[12px] rounded-md hover:bg-[#E68A00] cursor-pointer  text-white">Login</a>
          <a href="{% url 'shop:register' %}" class="bg-transparent font-bold px-[1rem] py-[12px] rounded-md cursor-pointer  text-[#FF9900] border-[1px] outline-none border-[#FF9900] ">Register</a>
        {% endif %}
      </div>
    </div>
  </nav>
  <main class="container mt-8">
    {% block content %}{% endblock %}
  </main>
</body>
</html>




{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>

</head>
<body>
    {% block content %}
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'shop:home' %}">Home</a></li>
                <li><a href="{% url 'shop:login' %}">Login</a></li>
                <li><a href="{% url 'shop:signup' %}">Sign Up</a></li>
            </ul>
        </nav>
    {% endblock %}

    <footer>
        <p>&copy; 2023 Shop. All rights reserved.</p>
    </footer>   
    
</body>
</html> {% endcomment %}